*{
    margin:0px;
    padding:0px;
    border:0px;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height:100vh;
    background-image: url('table.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;

}

button{
    background-color: rgb(255, 226, 63);
    background-size: cover;
}

button#New-Deck {
    align-self: flex-start;
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
}

button#Draw {
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
}

#image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.card-slot {
    width: 150px;
    height: 218px;
    background-image: url('back.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

img.card {
    width: 100%;
    height: 100%;
}